@import '../common/variables'
.sort-con
  overflow: auto
  .sort-item
    float: left
    display: inline-block
    position: relative
    padding: 0 8px
    height: 24px
    line-height: 24px
    border: 1px solid themeDeepColor
    margin-right: -1px
    background: #fff
    color: #333
    &.active
      background: themeDeepColor
      color: #fff
    .fa-sort-desc
      position: absolute
      top: 8px
      right: 8px
    &.asc
      .fa-sort-desc
        opacity: .6
    &.desc
      .fa-sort-asc
        opacity: .6
.p-list-con
  padding-top: 15px
  margin-right: -20px
  overflow: hidden
  .p-item
    position: relative
    width: 180px
    height: 290px
    float: left
    padding: 20px 10px
    margin: 0 20px 20px 0
    background: #fff
    transition: all .3s
    &:hover
      transform: translateY(-5px)
      box-shadow: 2px 8px 8px #ccc
    .p-img-con
      width: 180px
      height: 180px
      .link
        margin: 0
        .p-img
          width: 100%
          height: 100%
    .p-name-con
      text-align: center
      margin-top: 15px
      height: 48px
      .p-name
        text-decoration: none
        color: #000
        font-size: 12px
        line-height: 24px
    .p-subtitle-con
      text-align: center
      color: #aaa
      line-height: 16px
    .p-price-con
      line-height: 30px
      font-size: 16px
      color: themeDeepColor
      text-align: center
.err-tip
  padding: 0 10px
  height: 60px
  line-height: 60px
  color: themeDeepColor
  text-align: center
  font-weight: bold
  background: #fff
  font-size: 14px