@import '../common/variables'
.about-us
  background: #fff
  padding: 40px 0
  font-weight: 100
  .about-title
    color: themeColor
    font-size: 50px
    text-align: center
  .about-body
    font-size: 25px
    text-align: center
    span
      color: #444
  .contact
    text-align: center
    overflow: hidden
    width: 800px
    margin: 0 auto
    .about-contact
      font-size: 45px
    .qr-con
      margin-top: 50px
      float: left
      width: 300px
      height: 300px
      text-align: center
      padding: 0 50px
      .qr-icon
        text-align: center
        .fa-qq
          font-size: 25px
          color: #13b7f5
        .fa-weixin
          font-size: 25px
          color: #87dc48
      .qr-img
        width: 300px
        height: 300px
      