@import '../common/variables'
.address-item,.address-add
  width: 200px
  float: left
  padding: 5px 8px
  margin: 20px 20px 0 0;
  border: 3px dashed #ccc
  cursor: pointer
  &:hover
    background: #fafafa
    .address-opera
      visibility: visible
  &.active
    border: 3px dashed themeDeepColor
    color: themeDeepColor
  .address-title
    padding-bottom: 3px
    color: #666
    line-height: 20px
    border-bottom: 1px solid #ddd
    overflow: hidden
  .address-detail
    height: 40px
    line-height: 20px
    margin-top: 5px
    color: #666
    overflow: hidden
  .address-opera
    text-align: right
    visibility: hidden
    .link
      margin-right: 5px
  .address-new
    text-align: center
    color: #ccc
    padding: 8px 0
    .fa
      font-size: 50px
      line-height: 50px
    .text
      font-size: 12px
      

// 商品清单
.product-table
  width: 100%
  margin: 10px 0
  border-collapse: collapse
  th,td
    border-bottom: 1px dotted #ddd
  .cell-img
    width: 10%
    text-align: center
    padding: 10px
    .p-img
      width: 80px
      height: 80px
      // border: 1px solid #ddd
  .cell-info
    width: 30%
    text-align: left
  .cell-price
    width: 20%
    text-align: center
  .cell-count
    width: 20%
    text-align: center
  .cell-total
    width: 20%
    text-align: center
// 订单提交
.submit-con
  background: #eee
  text-align: right
  .submit-total
    margin-right: 20px
    font-size: 18px
    color: themeDeepColor
    font-weight: bold
    vertical-align: middle
  .order-submit
    height: 50px
    line-height: 50px
    width: 100px
    text-align: center
// modal弹窗样式
.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #eee
  background: rgba(0,0,0,.4) 
  z-index: 1000
  overflow-x: hidden
  overflow-y: auto
  .modal-container
    width: 700px
    margin: 50px auto
    background: #fff
    border-radius: 2px
    .modal-header
      position: relative
      padding: 15px
      border-bottom: 1px solid #ccc
      .modal-title
        font-size: 14px
      .close
        position: absolute
        top: 10px
        right: 10px
        cursor: pointer
        padding: 10px
    .modal-body
      padding: 15px
// form部分
.form
  .form-line
    margin: 10px 0
    overflow: hidden
    .label
      float: left
      width: 100px
      text-align: center
      height: 30px
      line-height: 30px
      margin-right: 30px
      cursor: pointer
      .required
        color: themeDeepColor
    .form-item
      vertical-align: middle
      height: 30px
      line-height: 30px
      margin-right: 10px
      outline: none
      padding: 0 5px
      width: 300px
      border-radius: 2px
      border: 1px solid #ffebda
    #receiver-province,#receiver-city
      width: 80px
    .btn
      margin-left: 130px
      font-size: 13px
      
    





    