navHeight = 30px
.nav,.user,.link
  margin-right: 5px
.nav
  background: #eee
  height: navHeight
  line-height: navHeight
  // 用户部分
  .user
    float: left
  .user.login
    display: none
  // 导航链接部分
  .nav-list
    float: right
    .nav-item
      display: inline-block
      margin-right: 5px
    