.form-line
  height: 30px
  line-height: 30px
  font-size: 14px
  margin-top: 10px
  .label
    display: inline-block
    width: 100px
    text-align: center
  .input
    height: 25px
    line-height: 25px
    width: 200px
    font-size: 14px
    outline: none