@import '../../page/common/variables'
.pg-content
  text-align: center
  color: themeDeepColor
  .pg-item
    display: inline-block
    height: 30px
    line-height: 30px
    padding: 0 15px
    cursor: pointer
    user-select: none
    &:hover
      background: themeColor
      color: #fff
    &.active
      background: themeDeepColor
      color: #fff
    &.disabled
      opacity: .8
      cursor: auto
      background: #f6f6f6
      color: themeColor
