@import '../variables'
navSimpleHeigth = 60px
navLogoSize = 26px
.nav-simple
  height: navSimpleHeigth
  line-height: navSimpleHeigth
  border-bottom: 1px solid #ddd
  background: #fff
  .logo
    font-size: navLogoSize
    font-weight: bold
    color: themeColor
    text-decoration: none