@import "./variables"
/* 定宽布局 */
.w
  width: themeWidth
  margin: 0 auto
  position: relative
  overflow: hidden
/* 全局通用样式 */
/* 隐藏 */
.hide
  display: none
/* 超链接 */
.link
  color: linkColor
  cursor: pointer
  text-decoration: none
.link:hover
  color: linkHoverColor
.link-text
  color: linkColor
  text-decoration: none
/* button */
.btn
  display: inline-block
  padding: 0 20px
  height: btnHeight
  line-height: btnHeight
  vertical-align: middle
  border: none
  background: themeColor
  font-size: btnFontSize
  font-weight: bold
  color: btnFontColor
  outline: none
  cursor: pointer
  text-decoration: none
  border-radius: 5px
  user-select: none
.btn-mini
  height: smBtnHeight
  line-height: smBtnHeight
  font-size: smBtnFontSize
  padding: 0 10px
  user-select: none

// panel
.panel
  padding: 10px
  margin-bottom: 10px
  background: #fff
  .panel-title
    padding: 10px
    font-size: 14px
    color: #666
    font-weight: bold
    border-bottom: 1px solid #eee
  .panel-body
    padding: 10px
    overflow: hidden
  
.logo-head
  color: #444

.ellipsis-line
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.ellipsis-two{
  overflow: hidden;
  text-overflow: ellipsis;
  /*autoprefixer: off*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /*autoprefixer: on*/
}


