@import "./variables"
/* 定宽布局 */
.w
  width: themeWidth
  margin: 0 auto
  position: relative
  overflow: hidden
/* 全局通用样式 */
/* 隐藏 */
.hide
  display: none
/* 超链接 */
.link
  color: linkColor
  cursor: pointer
  text-decoration: none
.link:hover
  color: linkHoverColor
.link-text
  color: linkColor
  text-decoration: none
/* button */
.btn
  display: inline-block
  padding: 0 20px
  height: btnHeight
  line-height: btnHeight
  vertical-align: middle
  border: none
  background: themeColor
  font-size: btnFontSize
  font-weight: bold
  color: btnFontColor
  outline: none
  cursor: pointer
  text-decoration: none
.btn-mini
  height: smBtnHeight
  line-height: smBtnHeight
  font-size: smBtnFontSize
  padding: 0 10px
/* loading */
.loading
  width: loadingSize
  height: loadingSize
  display: block
  background: url(../../image/icon/loading.gif) no-repeat
  border: 1px solid #ddd
  border-radius: 5px
  margin: 10px auto
  opacity: .6

// pannel
.pannel
  padding: 10px
  margin-bottom: 10px
  background: #fff
  .pannel-title
    padding: 10px
    font-size: 14px
    color: #666
    font-weight: bold
    border-bottom: 1px solid #eee
  .pannel-body
    padding: 10px
    overflow: hidden
  





