bgColor = #f6f6f6
// 主题
themeColor = #ff9838
themeDeepColor = #f36500
// 布局宽度
themeWidth = 1080px
themeWidthLg = 1600px
// 按钮
btnFontColor = #fff
btnFontSize = 17px
btnHeight = 36px
// 小按钮
smBtnHeight = 25px
smBtnFontSize = 12px
// 字体
fontFamily = tahoma, arial, Microsoft YaHei, sans-serif
// 链接
linkColor = #999
linkHoverColor = #f36500
// loading大小
loadingSize = 100px