bgColor = #f6f6f6
// 主题
themeColor = #c60023
// 布局宽度
themeWidth = 1080px
themeWidthLg = 1600px
// 按钮
btnFontColor = #fff
btnFontSize = 17px
btnHeight = 40px
// 小按钮
smBtnHeight = 25px
smBtnFontSize = 12px
// 字体
fontFamily = tahoma, arial, Microsoft YaHei, sans-serif
// 链接
linkColor = #999
linkHoverColor = #e80012
// loading大小
loadingSize = 65px