@import '../common/variables'
// 商品清单
.order-info
  .text-line
    height: 30px
    line-height: 30px
    font-size: 14px
    .text
      margin-right: 30px
  .btn
    width: 80px
    text-align: center
    height: 30px
    line-height: 30px
    font-size: 14px
    margin-top: 10px
    margin-right: 10px
// 订单信息
.product-table
  border-collapse: collapse
  .cell-th
    background: #eee
  .cell
    border-bottom: 1px dashed #eee
    background: #fafafa
  .cell-img
    width: 10%
    text-align: center
    padding: 10px
    .p-img
      width: 80px
      height: 80px
      // border: 1px solid #ddd
  .cell-info
    width: 45%
    text-align: left
  .cell-price
    width: 15%
    text-align: center
  .cell-count
    width: 15%
    text-align: center
  .cell-total
    width: 15%
    text-align: center
// 订单提交
.submit-con
  background: #eee
  text-align: right
  .submit-total
    margin-right: 20px
    font-size: 18px
    color: themeDeepColor
    font-weight: bold
    vertical-align: middle
  .order-submit
    height: 50px
    line-height: 50px
    width: 100px
    text-align: center
// 总价
.total
  font-size: 14px
  height: 40px
  line-height: 40px
  margin-top: 10px
  margin-right: 20px
  text-align: right
  .total-price
    font-weight: bold
    color: themeDeepColor
    